<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display json</title>
</head>
<body>
    <div>
    <form action="/logout" method="POST">
        <input type="submit" name="logout" value="logout"
            style="margin: 10px ; width: fit-content; font-size: large; color: red;">
    </form>
    </div>
    <div>
        <% if(images){ %>
            <% images.forEach(function(image){ %>
                <% if(image.ok == true) { %>
                <img src="<%=image.show.image.original%>" alt="">
                <% } %>
            <% }) %>
        <% } else { %>
            <p> Not thing to display </p>
        <% } %>
    </div>
</body>
</html>