html 
body 
    a(class='test test1' href="#" id='id1') click me 1
    br
    a(class='test test2' href="#" id='id2') click me 2
    br
    a(class='test test3' href="#" id='id3') click me 3
    
    script(src='../js/ex4.js')