extends ./layout.pug
block contents  
    // Jumbotron
    .container 
        .jumbotron
            form.form-signin(action='/logout', method='POST')
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Logout
        // Site footer
        footer.footer
            p © Price Monitor Project 2021