extends ./layout.pug
include ./components/tables
block contents  
    // Jumbotron
    .container
        h3 Manage your shop (under development)    
        hr
        //.jumbotron
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th No.
                        th.thumnail-tbl Image
                        th Click to edit
                        th Click to remove
                        th Description
                        th Selling Price 
                        th Original Price
                        th Is on Sale


    .container
            footer.footer
                p © Price Monitor - ComIT NodeJS Project 2021